<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>


<footer class="site-footer">
    <ul>
        <li>
                 {% include icons.html %}
        </li> 
    </ul>
</footer>



<!--{% for page in site.pages %}
                {% if page.title and page.hide != true %}
                {% if  page.title == highlight %}
                    <li>
                        <a class="page-link highlight" href="{{ page.url | prepend: site.baseurl }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% else %}
                      <li>
                        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% endif %}
                {% endif %}
            {% endfor %} -->
   