<header class="site-header">
	

	{% if site.theme.header_text %}
  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
  	<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
		</h1>
		<div class="divider"></div> 
  </div>
  {% endif %}

    {% assign highlight = page.title %}
    
    <nav class="site-nav">
		<ul>
              <li>
                <a class="page-link" href="{{site.baseurl}}/">work</a>
              </li>
          
            {% for page in site.pages %}
                {% if page.title and page.hide != true %}
                {% if  page.title == highlight %}
                    <li>
                        <a class="page-link highlight" href="{{ page.url | prepend: site.baseurl }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% else %}
                      <li>
                        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% endif %}
                {% endif %}
            {% endfor %}            
            </ul>         
    </nav>
    
    {% if page.type == 'portfolio_item' %}
    <nav class="sub-nav">
        <ul>  
            {% for page in site.portfolio %}
            {% if page.title == highlight %}
                <li>
                    <a class="highlight" href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
                </li> 
            {% else %}
                   <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
                   </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</header>

