.site-footer {
  @extend %padding-small;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #F2EEEB;
  font-size: 0.9em;
  ul {
    margin:0 0 1em;
    padding:0;
    list-style-type: none;
    li {
      list-style-type: none;
      display: inline-block;
      a {
        font-size:1.5em;
        margin:0 0.25em 1.5em;
        color:#686665;  
      }
        a:link {
            text-decoration: none;
        }
        a:hover {
            color: #E1857C;
        }
    }
  }
}
