.site-header {
  @extend %padding-small;
  background: $brand-color;
  display: inline-block;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      margin: auto;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      text-align: right;
      width: 100%;
      text-align: center; 
      text-transform: uppercase;
      font-size: 1.75em;
      margin-top: -50px;
    }
      li{
          display: inline;
          padding-left: 20px
      }
      a:link {
        text-decoration: none;
      }
      
      a:hover {
          background-color: #F19982;
      }
      
      .highlight {
          background-color: #F19982;
      }

  }
}
