// Header text feature
.call-out {
  padding:5% 0;
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $text-color;
  background-position:center center;
  .site-title {
    display:block;
    width:100%;
    a {
      font-size:.8em;
      color:#262626;
      font-weight: 400;
    }
  }
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin:0 0.5em;
      font-size: 1.5em;
      a {
        color: $link-color;
      }
    }       
  }
  h1 {
    margin-bottom:0.25em;
    display:block;
  }
  .divider {
    width:60%;
    height:1px;
    background-color:$border-color;
    display:block;
    margin:.7em auto;
  }
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  @extend %padding-header;
  .post-header {
    text-align: center;
  }
  .post-teaser {
    width: 46%;
    @media (max-width:768px) {
      width:100%;
    }
    margin:0 2% 1em;
    display: block;
    background-size: $feature-image-size;
    float:left;
    &:first-child {
      padding-top:0;
    }
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin: 1em 0;
  }
}

// Work listing
.work {
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  .project {
    display: block;
    float: left;
    clear:both;
    width:100%;
    position: relative;
    .project-thumb {
      width: 100%;
      max-width: 100%;
      float: left;
      display: inline-block;
      img {
        display: inline-block;
        max-width: 900px;
        padding-top: 2em;
        max-height: 410px;
      }
    }
    .project-description {
      float:left;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #262626;
      padding: .5em 2em;
      a {
          strong {
          font-size:1.2em;
          font-weight:400;
          color: #ffffff;
        }
      }
      
      p {
        font-family: Lato, Arial, sans-serif;
          font-weight: 100;
          font-size: .8em;
          color: #ffffff;
          margin-bottom: 0;
        }
    }
  }
    a.view_project {
    font-weight: 700;
    font-family: Lato, Arial, sans-serif;
    font-size: .7em;
    color: #ffffff;
    text-transform: lowercase;
    font-style: italic;
}

a.view_project:link {
    text-decoration: none;
}
a.view_project:hover {
    text-decoration: underline;
}
}

ul.social_media_list {
    list-style-type: none;
    line-height: 1.5em;
    text-align: center;
    margin-top: -7%;
    
    li {
        display: inline-block;
        font-size: 1.5em;
        margin: 1%;
        
        i {
            color: #9FBFE5;
        }
        
        a {
            font-family: Roboto;
            font-size: .8em;
            color: #9FBFE5;
            font-style: italic;
            font-weight: 300;
        }
        a:hover {
            opacity: 70%;
        }
    }
}


// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
.center {
  text-align: center;
}