article,
.comments {
  padding:0 20% 0;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
  p {
    img {
      text-align:center;
      margin:0 auto;
    }
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  width: 100%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    background-position:center center;
    margin-bottom: 0;
    padding: $padding-large/2.8 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.post-content {
  font-size: .9em;
    
  p a:link {
        text-decoration: underline;
    }
    p a:hover {
        background: #F19982;
    }
    
  form {      
      input[type="text"], input[type="email"] {
        width:100%;
        display: block;
        padding:1em;
        margin:0 0 1em;
        border:1px solid #000000;
        box-shadow:none;
        font-size: .8em;
      }
      input {
          padding: 1em;
      }
      
      input[type="submit"] {
        border: none;
        color:#ffffff;
        font-size: .8em;
        background-color: #30535B;
        display: inline-block;
        padding: 1em 5em;
        margin-bottom: 50px;
        box-shadow: 0px 2px 4px #979797;
        float: right;
        &:hover {
          border: none;
          background: #F19982;
          color: #ffffff;
          text-decoration: none;
        }
      }
      textarea {
        padding:1em 1em 10em 1em;
        margin:0 0 1em;
        display: block;
        width:100%;
        border:1px solid #000000;
        box-shadow:none;
        font-size: .8em;
      }
    }
}

.content-left {
    width: 28%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 5%;
    img {
        float: right;
    }
}

.content-right {
    width: 60%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    .content {
        float: left;
        max-width: 650px;
        p {
            font-size: .9em;
            a:link {
                text-decoration: underline;
            }
            a:hover {
                background-color: #F19982; 
            }
        }
    }
}

.toc-left{
    padding: 0;
    
    #toc {
        width: 30%;
        float: left;
        padding: 4.5% 10% 1% 5%;
        font-size: .8em; 
    }
}

#toc i {
    color: #262626;
}

#toc ul {
       list-style-type: none;
       padding-bottom: 2%;
       padding-top: 5%;
}

#toc ul li {
    padding: 2% 0% 2% 0%;
}

#toc ul li ul li {
    font-size: .8em;
    padding: 2% 0% 5% 15%;
}

#toc ul li a:link {
    text-decoration: none;
}

#toc ul li a:hover {
    background-color: #F19982;
}

#toc ul li ul li a:link {
    text-decoration: none;
}

#toc ul li ul li a:hover {
    background-color: #F19982;
}

.toc-right {
    width: 70%;
    float: right; 
    padding: 2.5% 8% 3% 1%;
}