---
layout: post-header
---
<div {% if page.thumbnail-path %}class="feature-image"{% endif %}>
     <a>
          <!--<img src="{{ page.thumbnail-path }}" alt="{{ project.title }}"/>-->
     </a>
</div>

<div class="toc-left">
 <nav>
   <div id='toc'>
   </div>
  </nav>
</div>

<div class="toc-right">         
        <section class="post-content" data-spy="scroll" data-target="#navbar" data-offset="50">{{ content }}</section>
</div>


<script> $(document).ready(function() {
                $("#toc").toc();
            });   
    </script>

 <!-- Makes Table of Contents Fixed after scroll -->
     <script src="{{ "/js/fixed.js" | prepend: site.baseurl }}" type="text/javascript">        
        </script>

<!-- ScrollSpy -->
    
    <script src="{{ "/js/scrollspy.js" | prepend: site.baseurl }}" type="text/javascript">        
        </script>
    
<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}